.task {
    width: 22rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.task:hover {
    background-color: #e9e9e9;
}

.task-input {
    font-size: 0.8rem;
    cursor: pointer;
}

.task-trash {
    width: 1.5rem;
    height: auto;
    display: inline-block;
    cursor: pointer;
}

.task-trash img {
    width: 100%;
    height: 100%;
}

.task-check {
    width: 1rem;
    cursor: pointer;
}

select {
    cursor: pointer;
    
}