.Form {
    width: 23rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.Form-tasks {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.Form-add {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    cursor: pointer;
}

.Form h3 {
    width: 20rem;
    font-size: 1.2rem;
}

.Form-add {
    width: 5rem;
}