.Form {
    width: max-content;
}

.Form-tasks {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.Form-add {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    cursor: pointer;
}

.Form h3 {
    width: 100%;
}