.Hour {
    display: flex;
    width: 15.5rem;
    gap: 1.8rem;
    cursor: pointer;
}

.Hour:hover {
    background-color: #929292;
}

.Hour-content {
    width: 100%;
}

.Hour-task {
    width: 100%;
    height: 1.3rem;
    border-bottom: 1px solid black;
    font-family: BadScript;
    /* color: rgb(3, 3, 255); */
    font-size: 0.9rem;
    font-weight: 900;
    display: flex;
    align-items: center
}