.hour {
    display: flex;
    width: 15rem;
    gap: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.hour:hover {
    background-color: #e9e9e9;
}

.hour-content {
    width: 100%;
}

.hour-task {
    width: 100%;
    height: 1.3rem;
    border-bottom: 1px solid black;
    font-family: BadScript;
    font-size: 0.9rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.hour-task:hover {
    background-color: #b8b8b8;
}

.hour-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}