body, html {
    font-size: 1vw;
}

.App {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.App-calendar {
    width: 45.15rem;
}

.blueColor {
    color: blue;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.changed {
    background-color: #dedede;
}

.btn {
    border: none;
    background-color: transparent;
}

h3 {
    margin-bottom: 1rem;
}
