body, html {
    font-size: 1vw;
}

.App {
    display: flex;
    
}

.App-calendar {
    width: 45.15rem;
}

.blueColor {
    color: blue;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.changed {
    background-color: #dedede;
}
