.day {
    width: 100%;
    height:  100%;
    border: 0.06rem solid black;
    cursor: pointer;
}

.day:hover {
    background-color: #e9e9e9;
}

.last, .next {
    background-color: #d1d1d1;
}

.today {
    background-color: #929292;
}