.Month {
    width: 18rem;
}
.month-calendar {
    display: grid;
    grid-template-columns: repeat(7, 2.5rem);
    grid-template-rows: repeat(6, 2.5rem);
}

.Month-days {
    width: 100%;
}

.Month-days b {
    display: inline-block;
    width: 2.5rem;
}

.Month-title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.Month-title input {
    width: 6.8rem;
    height: auto;
    font-size: 0.8rem;
}